body{
    font-family: 'Times New Roman', Times, serif;
    margin:0 ;
    padding: 20px;
}

.container {
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(37, 155, 56, 0.1);
}

.row {
    margin-bottom: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.thumbnail-container img {
    width: 400px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    margin: 5px; /* Add some space between thumbnails */
}

.table{
    border: 3px solid black;
    margin: auto;
    text-align: left;
    border-collapse:collapse ;
    border-spacing: 0;
}

td:hover{

    background-color: blue;
   
   }
     
.table th ,td {
   
   border: 1px solid;
   
   
   }
.table th{
    color:whitesmoke;
    background-color: chocolate;
}
   

   
.success{
    background-color: rgb(125, 241, 225);
    color: black;
}

.btn-success:hover{
    color: blue;
    background-color: lightgreen;
    border-color: cyan;
}

.alert{
    border-radius: 0%;
    margin: 5%;
    padding: 1px 6px;
    background-color: green;
}
.alert:hover{
    color: rgb(245, 126, 0);
    border-color: rgb(0, 0,0);
}
.alert{
    color: black;
}
.danger{
    border-radius: 0%;
    margin: 25%;
    padding: 1px 6px;
    background-color: red;
}
.danger:hover{
    color: rgb(245, 145, 0);
    border-color: rgb(0, 0,0);
}
